*{
    margin: 0;
    padding: 0;
}
body{
    background: #000 !important;
    color: #fff !important;
    background-color: rgba(52, 152, 219, 0.5);
  
    
}
.service{
    margin-top: 20px;
  
    
}

.service-box
{
    box-shadow: 0 0 4px 0 #ffa709;
    /*box-shadow: #ffa709 0px 3px 2px, #ffa709 0px 3px 10px;*/
    padding: 15px;
    position: relative;
    
}
.fa{
    /*color: orangered;*/
    font-size: 40px !important;
    margin-bottom: 20px;
    background: linear-gradient(to right,#ff105f,#ffad06);
    -webkit-background-clip: text;
    color: transparent;
}
p{
    text-align: justify;
}

a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    text-align: center;
    position: absolute;
    bottom: -20px;
    right: 20px;
    background: linear-gradient(to right,#ff105f,#ffad06);

}
span{
    background: linear-gradient(to right,#ff105f,#ffad06);
    -webkit-background-clip: text;
    color: transparent;
}
a .fa
{
    color: white;
    font-size: 25px !important;
    padding-top:6px;
}